html, body {
  height: 100%;
  width: 100%;
  margin: 1em 0 0 0;
  box-sizing: border-box;
}

body {
  font: caption;
  background-color: #2f5508;
}

.background{
	background-color: #f3f6f1;
	font: inherit;
	font-size: 16px;
}

p {
  margin: 2em;
}

.input{
	margin: 10px 10px 10px 2.5em;
	max-width: 60px;
	font-weight: bold;
}

.input2{
	margin: 10px 2em;
	width: 81%;
}

.input3{
	margin: 10px 2em;
	width: 80%;
}

button{
	text-align: center;
}

.data {
	width: 100%;
}
.td {
	width: 33%;
	margin: 0 2em;
}

.spaninput{
	horiz-align: left;
	width: 70%;
}

.spanbutton{
	horiz-align: right;
	max-width: 60px;
	font-weight: bold;
}

#content {
	/*width: 80%;*/
	height: 100%;
	margin: 0 2em;
	word-wrap: break-word;
}

button, textarea, select, input{
	background-color: #d4f5b3;
	border-radius: 5px;
	border: 3px solid #090606;
}